		<%- include("../../partials/head.ejs") %>

		<div class="container-fluid">
			<div class="row">
				<div class="col-md-2">
					<%- include("../../partials/sidebar.ejs")  %>
				</div>
				<div class="col-md-10">
					<div class="row my-container">
						<div class="col-md-6 offset-md-2">
							<div class="card card-body my-5">
								<h5 class="py-4">Change Password</h5>
                                <form action="/auth/changePassword" method="post">
                                    <div class="form-floating mb-3">
                                        <input type="password" name="oldPassword" class="form-control <%= error.oldPassword ? "is-invalid" : "" %>" id="floatingPassword" placeholder="Old Password">
                                        <label for="floatingPassword">Old Password</label>
                                        <div class="invalid-feedback"><%= error.oldPassword && error.oldPassword %> </div>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="password" name="newPassword" class="form-control <%= error.newPassword ? "is-invalid" : "" %>" id="floatingPassword2" placeholder="New Password" value="<%= value.newPassword && value.newPassword %>">
                                        <label for="floatingPassword2">New Password</label>
                                        <div class="invalid-feedback"><%= error.newPassword && error.newPassword %></div>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="password" name="confirmPassword" class="form-control <%= error.confirmPassword ? "is-invalid" : "" %>" id="floatingConfirmPassword" placeholder="Confirm Password">
                                        <label for="floatingConfirmPassword">Confirm Password</label>
                                        <div class="invalid-feedback"><%= error.confirmPassword && error.confirmPassword %> </div>
                                    </div>
                                    <input type="submit" class="btn btn-primary" value="Change Password">
                                </form>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		<%- include("../../partials/footer.ejs") %>

	</body>
</html>
