<%- include("../../partials/head.ejs") %>

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card card-body" style="padding: 2rem">
                <section>
                    <h3><%= post.title %> </h3>
                    <div class="d-flex">
                        <small>
                            <%= moment(post.createdAt) %>,
                            posted by  <a href="/author/<%= post.author._id %>"><%= post.author.username %></a>,
                            <%= post.readTime %> 
                        </small>
                        <% if (user) { %> 
                            <span class="ms-auto bookmark" id="parent-span" data-post="<%=post._id%>">
                                <% if (bookmarks.includes(post._id)) { %> 
                                    <i class="fas fa-bookmark" style="font-size: 20px"></i>
                                <% } else { %> 
                                    <i class="far fa-bookmark" style="font-size: 20px"></i>
                                <% } %> 
                            </span>
                        <% } %> 
                    </div>
                    <% if (post.thumbnail) { %> 
                        <img src="<%= post.thumbnail %>" class="img-fluid my-2 rounded" alt="post">
                    <% } %> 
                    <section>
                        <%- post.body %> 
                    </section>
                    <section class="mt-5">
                        <% if(!user) { %> 
                            <button class="btn btn-success btn-sm disabled">🧡 Like (<%= post.likes.length %> )</button>
                            <button class="btn btn-danger btn-sm disabled">💔 Dislike (<%= post.dislikes.length %> )</button>
                            <p class="text-center text-muted">
                                To like and comment please <a href="/auth/login">Login</a>
                            </p>
                        <% } else { %> 
                            <button class="btn btn-success btn-sm" id="likeBtn" data-post="<%= post._id %>">
                                🧡 <%= post.likes.includes(user._id) ? "Liked" : "Like" %> (<%= post.likes.length %>)
                            </button>
                            <button class="btn btn-danger btn-sm" id="dislikeBtn" data-post="<%= post._id %>">
                                💔 <%= post.dislikes.includes(user._id) ? "Disliked" : "Dislike" %> (<%= post.dislikes.length %>)
                            </button>
                            <div class="form-floating mt-5">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="comment" data-post="<%= post._id %>" placeholder="Leave a comment">
                                    <label for="comment">Leave a comment</label>
                                </div>
                            </div>
                            <div class="mt-5" id="comment-holder">
                                <% if (post.comments.length === 0) { %> 
                                    <p class="text-center text-muted">There is no comment</p>
                                <% } else { %> 
                                    <% for(let comment of post.comments.reverse()) { %> 
                                        <div class="media border pe-3">
                                            <a href="/author/<%= comment.user._id %> " class="sm-details">
                                                <img src="<%= comment.user.profilePics %>" class="rounded-circle mx-3 my-3" style="width: 49px; height: 49px;" alt="Profile_pic">
                                            </a>
                                            <div class="media-body my-3 w-100">
                                                <a href="/author/<%= comment.user._id %>">
                                                    <span><%= comment.user.username %></span>
                                                </a>
                                                <p><%= comment.body %> </p>
                                                <div class="replies">
                                                    <% if (comment.replies.length > 0) { %> 
                                                        <% for (let reply of comment.replies) { %> 
                                                            <div class="media mt-3">
                                                                <a href="/author/<%= reply.user._id %> " class="sm-details">
                                                                    <img src="<%= reply.user.profilePics %>" class="align-self-start rounded-circle" style="width: 44px; height: 44px" alt="rep_profile">
                                                                </a>
                                                                <div class="media-body">
                                                                    <a href="/author/<%= reply.user._id %>">
                                                                        <span><%= reply.user.username %></span>
                                                                    </a>
                                                                    <p><%= reply.body %> </p>
                                                                </div>
                                                            </div>
                                                        <% } %> 
                                                    <% } %> 
                                                </div>
                                                <div class="my-3 reply-base">
                                                    <input type="text" class="form-control" placeholder="Press Enter to reply" name="reply" data-user="<%= user.username %> " data-comment="<%= comment._id %> ">
                                                </div>
                                            </div>
                                        </div>
                                    <% } %> 
                                <% } %> 
                            </div>
                        <% } %> 
                    </section>
                </section>
            </div>
        </div>
    </div>
</div>

<%- include("../../partials/footer.ejs") %>

<script src="/scripts/singlePage.js"></script>


</body>
</html>
