		<%- include("../../partials/head.ejs") %>

		<div class="container-fluid">
			<div class="row">
				<div class="col-md-2">
					<%- include("../../partials/sidebar.ejs")  %>
				</div>
				<div class="col-md-10">
					<div class="row my-container">
						<div class="col-md-8 offset-md-2">
							<div class="card card-body my-5">
								<h5 class="py-4">List of My Bookmarks</h5>
                                <div class="row">
                                    <% if(posts.length === 0) { %> 
                                        <div class="text-center text-muted">
                                            <p>No bookmarked post found.</p>
                                        </div>
                                    <% } else { %>
                                        <% for (let post of posts.reverse()){ %>
                                            <div class="card col-sm-5 ms-3 mb-3">
                                                <% if(post.thumbnail) { %>
                                                    <img src="<%= post.thumbnail %> " alt="<%= post.title %>" class="card-img-top mt-3" />
                                                <% } %>  
                                                <div class="py-2">
                                                    <a href="/explorer/<%= post._id %> ">
                                                        <h5 style="color: #222;"><%= post.title %> </h5>
                                                    </a>
                                                </div>
                                            </div>
                                        <% } %>   
                                    <% } %> 
                                </div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		<%- include("../../partials/footer.ejs") %>

	</body>
</html>
