<%- include("../../partials/head.ejs") %>    
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <div class="card card-body my-5">
                            <h4 class="py-4">Create your profile</h4>
                            <div class="profile-pics">
                                <img class="img-responsive rounded-circle img-thumbnail" id="profilePics" src="<%= user.profilePics %>" alt="profile_picture">
                                <form action="/uploads/profilePics" class="my-2" id="profilePicsForm" method="post">
                                    <div class="mb-3">
                                        <label for="formFile" class="form-label">Change Profile Picture</label>
                                        <input class="form-control" name="profilePics" type="file" id="profilePicsFile" accept="image/*">
                                        <input 
                                            id="removeProfilePics" 
                                            type="button" 
                                            value="Remove Image" 
                                            class="btn btn-danger btn-sm my-2"
                                            style="display: <%= (user.profilePics.includes('default.jpg'))? 'none': 'block' %>" 
                                        />
                                    </div>
                                </form>
                            </div>
                            <div>
                                <form action="/dashboard/create-profile" method="post">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="name" placeholder="Enter your name">
                                        <label for="name">Name</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input 
                                            type="email" 
                                            class="form-control" 
                                            id="email" 
                                            placeholder="Enter your email" 
                                            value="<%= user.email %> "
                                            disabled 
                                        />
                                        <label for="email">Email</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="title" placeholder="Enter a short details">
                                        <label for="title">Title</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <textarea class="form-control" style="height: 100px" placeholder="Enter your short bio" id="bio"></textarea>
                                        <label for="bio">Enter your short bio</label>
                                    </div>
                                    <%#----------- all links----------- %> 
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="basic-addon3"><i class="fab fa-google"></i></span>
                                        <input type="url" name="website" class="form-control" id="website" placeholder="Website link" aria-describedby="basic-addon3">
                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="basic-addon4"><i class="fab fa-facebook"></i></span>
                                        <input type="url" name="facebook" class="form-control" id="facebook" placeholder="Facebook link" aria-describedby="basic-addon4">
                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="basic-addon5"><i class="fab fa-twitter"></i></span>
                                        <input type="url" name="twitter" class="form-control" id="twitter" placeholder="Twitter link" aria-describedby="basic-addon5">
                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="basic-addon6"><i class="fab fa-github"></i></span>
                                        <input type="url" name="github" class="form-control" id="github" placeholder="Github link" aria-describedby="basic-addon6">
                                    </div>
                                    <input type="submit" style="width: 150px" class="form-control btn btn-primary mb-3" value="Create Profile">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%# ===============modal for project================ %> 
        <div class="modal fade" id="crop-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="cropped-image"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id="upload-image" type="button" class="btn btn-primary">Upload</button>
                </div>
                </div>
            </div>
        </div>
        
    </div>
    <%- include("../../partials/footer.ejs") %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.js" integrity="sha512-Gs+PsXsGkmr+15rqObPJbenQ2wB3qYvTHuJO6YJzPe/dTLvhy0fmae2BcnaozxDo5iaF8emzmCZWbQ1XXiX2Ig==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/scripts/profilePicsUplaod.js"></script>

</body>
</html>