		<!-- have to remove something -->
        <%- include("../../../partials/head.ejs") %>

		<div class="container-fluid">
			<div class="row">
				<div class="col-md-2">
					<%- include("../../../partials/sidebar.ejs")  %>
				</div>
				<div class="col-md-10 my-5">
					<div class="card card-body mx-5">
						<h4 class="py-2">Edit Post</h4>
						<form action="/posts/edit/<%= post._id %>" method="post" enctype="multipart/form-data" >
							<div class="form-floating mb-3">
								<input type="text" name="title" class="form-control <%= error.title ? "is-invalid" : ""%> " id="floatingInput" value="<%= post.title %>" placeholder="title">
								<label for="floatingInput">Title</label>
								<div class="invalid-feedback"><%= error.title %></div>
							</div>
							<div class="form-floating mb-3">
								<textarea name="body" class="form-control <%= error.body ? "is-invalid" : ""%>" placeholder="Enter Your Post Body" id="tiny-mce-post-body" style="height: 100px"><%= post.body %></textarea>
								<label for="tiny-mce-post-body">Enter Your Post Body</label>
								<div class="invalid-feedback"><%= error.body %></div>
							</div>
							<div class="form-floating mb-3">
								<input type="text" class="form-control <%= error.tags ? "is-invalid" : ""%>" id="tags" name="tags"value="<%= post.tags.length > 0 ? post.tags.join(", ") : ""%>" placeholder="tags1, tags2, tags3">
								<label for="tags">Enter some tags</label>
								<div class="invalid-feedback"><%= error.tags %></div>
							</div>
							<% if(post.thumbnail) { %> 
								<label for="thumbnail">Post Image</label><br>
								<img id="thumbnail" class="img-fluid my-3" src="<%= post.thumbnail %>" alt="post_img">
							<% } %> 
							<div class="input-group mb-3">
								<input type="file" name="post-thumbnail" class="form-control" placeholder="Choose file" id="inputGroupFile02">
								<label class="input-group-text custom-file-label" for="inputGroupFile02">Change Thumbnail</label>
							</div>
							<input type="submit" class="btn btn-primary" value="Update Post">
							<a href="/posts/delete/<%= post._id %>" class="btn btn-danger ms-2">Delete Post</a>
						</form>
					</div>
				</div>
			</div>
		</div>

		<%- include("../../../partials/footer.ejs") %>
		<script src="https://cdn.tiny.cloud/1/xq007oqlf2vjqc9q3rw3iovsa5qcbj4g1o8x4fz6z7dkla7a/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
		<script src="/scripts/tinymce.js"></script>

	</body>
</html>
